
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.top__basket {
  height: 400px;
  background-image: url(./images/img/back-basket.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.left__box {
  grid-column: span 8;
}

.buy__box__all {
  display: flex;
  padding-top: 27px;
  position: relative;
}

.buy__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}

.head__buy {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #cacdd8;
}

.product__box__input {
  position: absolute;
  right: 0;
  top: 25px;
}

.text__buy {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu__text {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item__text {
  color: var(--gray-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 276px;
}

.item__price {
  color: #050505;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.item__down {
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 210%;
  text-decoration-line: underline;
}

.product__input {
  width: 71px;
  height: 51px;
  border-radius: 6px;
  background: var(--light-color);
  border: none;
  color: var(--Color---7, var(--black-color));
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%;
}

.item__buy {
  display: flex;
  gap: 32px;
}

.item__buy__down {
  display: flex;
  gap: 30px;
}

.button__order__right {
  padding-top: 50px;
}

.button__order__box {
  width: 200px;
  height: 37px;
  border-radius: 50px;
  border: 1px solid var(--black-color);
  color: #020202;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: inherit;
  transition: all 1s;
  &:hover {
    color: var(--white-color);
    background-color: var(--black-color);
  }
}

.right__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 556px;
  border-radius: 20px;
  background: var(--light-color);
  grid-column: span 4;
}

.order {
  padding-top: 42px;
}

.order__head {
  color: var(--black-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input__box {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.name__field {
  background: transparent;
  border: none;
  border-bottom: 1px solid #cacdd8;
  width: 288px;
}

.name__field::placeholder {
  color: var(--black-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price__right__box {
  padding-top: 64px;
}

.button__right__box {
  padding-top: 18px;
}

.text__right__box {
  color: var(--black-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button__price {
  border-radius: 20px;
  border: 1px solid #040404;
  width: 290px;
  height: 41px;
  color: var(--black-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: inherit;
  transition: all 1s;
  animation: heartbeat 2s linear 3 both;
  &:hover {
    color: var(--white-color);
    background-color: var(--black-color);
  }
}

.section__basket {
  margin-top: 64px;
}
